body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1733px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:415px;
}
#u28970 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1733px;
  height:415px;
  display:flex;
}
#u28970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28971 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:500px;
  width:580px;
  height:47px;
  display:flex;
}
#u28971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
