body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:372px;
}
#u28989 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:476px;
  height:372px;
  display:flex;
}
#u28989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28990 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:444px;
  width:619px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u28990 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
