body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-3px;
  width:1331px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:974px;
}
#u33106 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:1331px;
  height:974px;
  display:flex;
}
#u33106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u33107 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:103px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u33107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33108 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:88px;
  width:784px;
  height:732px;
  display:flex;
}
#u33108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:50px;
  background:inherit;
  background-color:rgba(32, 34, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33109 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:88px;
  width:784px;
  height:50px;
  display:flex;
}
#u33109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u33110 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:103px;
  width:69px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u33110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 106, 235, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33111 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:99px;
  width:63px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33112 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:237px;
  width:48px;
  height:16px;
  display:flex;
}
#u33112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33113_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u33113 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:226px;
  width:208px;
  height:39px;
  display:flex;
}
#u33113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33113_img.disabled {
}
#u33113.disabled {
}
#u33114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33115 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:701px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u33116 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:701px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u33116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33117 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:293px;
  width:76px;
  height:16px;
  display:flex;
}
#u33117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33118_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u33118 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:281px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u33118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33118_img.disabled {
}
#u33118.disabled {
}
#u33119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33119 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:348px;
  width:76px;
  height:16px;
  display:flex;
}
#u33119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33120_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u33120 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:336px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u33120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33120_img.disabled {
}
#u33120.disabled {
}
#u33121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33121_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u33121 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:390px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u33121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33121_img.disabled {
}
#u33121.disabled {
}
#u33122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33122 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:403px;
  width:48px;
  height:16px;
  display:flex;
}
#u33122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33123 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:462px;
  width:52px;
  height:16px;
  display:flex;
}
#u33123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u33124 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:455px;
  width:74px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u33124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u33125 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:489px;
  width:115px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u33125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33126 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:463px;
  width:94px;
  height:15px;
  display:flex;
}
#u33126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33127 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:526px;
  width:86px;
  height:16px;
  display:flex;
}
#u33127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u33128 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:520px;
  width:74px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u33128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
}
#u33129 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:527px;
  width:45px;
  height:16px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
}
#u33129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33130 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:524px;
  width:22px;
  height:22px;
  display:flex;
}
#u33130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33131 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:524px;
  width:22px;
  height:22px;
  display:flex;
}
#u33131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33132 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:636px;
  width:99px;
  height:16px;
  display:flex;
}
#u33132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
}
#u33133 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:527px;
  width:45px;
  height:16px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
}
#u33133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u33134 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:624px;
  width:76px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u33134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u33135 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:624px;
  width:76px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u33135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33136_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u33136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u33136 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:566px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u33136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33136_img.disabled {
}
#u33136.disabled {
}
#u33137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33137 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:579px;
  width:48px;
  height:16px;
  display:flex;
}
#u33137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
