body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1719px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1719px;
  height:837px;
}
#u28929 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1719px;
  height:837px;
  display:flex;
}
#u28929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u28930 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:928px;
  width:410px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u28930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:966px;
  height:19px;
}
#u28931p000 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:974px;
  height:18px;
  -webkit-transform:rotate(-0.423113120168097deg);
  -moz-transform:rotate(-0.423113120168097deg);
  -ms-transform:rotate(-0.423113120168097deg);
  transform:rotate(-0.423113120168097deg);
}
#u28931p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:18px;
}
#u28931p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-161.423113120168deg);
  -moz-transform:rotate(-161.423113120168deg);
  -ms-transform:rotate(-161.423113120168deg);
  transform:rotate(-161.423113120168deg);
}
#u28931p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u28931p002 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.423113120168deg);
  -moz-transform:rotate(-180.423113120168deg);
  -ms-transform:rotate(-180.423113120168deg);
  transform:rotate(-180.423113120168deg);
}
#u28931p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28931 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:750px;
  width:957px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(161.423113120168deg);
  -moz-transform:rotate(161.423113120168deg);
  -ms-transform:rotate(161.423113120168deg);
  transform:rotate(161.423113120168deg);
}
#u28931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
