body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:547px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:56px;
}
#u37403 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:547px;
  height:56px;
  display:flex;
}
#u37403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37404 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:355px;
  width:504px;
  height:32px;
  display:flex;
}
#u37404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
