body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1751px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u26056 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:13px;
  width:126px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u26056 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:2px;
}
#u26057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1288px;
  height:1px;
  display:flex;
  color:#E4E4E4;
}
#u26057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26058 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26059 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:94px;
  width:1278px;
  height:163px;
}
#u26060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
}
#u26060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:46px;
}
#u26061 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:173px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
}
#u26062 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:137px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
}
#u26063 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:150px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u26064 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:0px;
  width:124px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u26065 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:129px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u26066 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:134px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
}
#u26067 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:0px;
  width:92px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:46px;
}
#u26068 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:76px;
  height:46px;
  display:flex;
}
#u26068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u26069 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:0px;
  width:136px;
  height:46px;
  display:flex;
  text-align:center;
}
#u26069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u26070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u26071 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:46px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u26072 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:46px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u26073 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:46px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u26074 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:46px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u26075 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:46px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u26076 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:46px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u26077 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:46px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u26078 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:46px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u26079 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:46px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u26080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:127px;
  height:37px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u26081 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:86px;
  width:173px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u26082 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:86px;
  width:137px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u26083 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:86px;
  width:150px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u26084 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:86px;
  width:124px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u26085 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:86px;
  width:129px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
}
#u26086 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:86px;
  width:134px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u26087 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:86px;
  width:92px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u26088 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:86px;
  width:76px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u26089 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:86px;
  width:136px;
  height:37px;
  display:flex;
  text-align:center;
}
#u26089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u26090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u26091 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:123px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u26092 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:123px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u26093 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:123px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u26094 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:123px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u26095 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:123px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u26096 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:123px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u26097 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:123px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u26098 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:123px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u26099 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:123px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u26099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u26100 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:163px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u26100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26101 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:195px;
  width:40px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26103 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26104 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26105 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26106 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26107 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u26107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u26108 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:363px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u26108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
