body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1751px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11627 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:13px;
  width:126px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u11627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:2px;
}
#u11628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1288px;
  height:1px;
  display:flex;
  color:#E4E4E4;
}
#u11628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11629 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11630 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:94px;
  width:1278px;
  height:163px;
}
#u11631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
}
#u11631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:46px;
}
#u11632 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:173px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
}
#u11633 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:137px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
}
#u11634 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:150px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u11635 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:0px;
  width:124px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u11636 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:129px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u11637 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:134px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
}
#u11638 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:0px;
  width:92px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:46px;
}
#u11639 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:76px;
  height:46px;
  display:flex;
}
#u11639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u11640 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:0px;
  width:136px;
  height:46px;
  display:flex;
  text-align:center;
}
#u11640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u11641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u11642 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:46px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u11643 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:46px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11644 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:46px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u11645 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:46px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u11646 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:46px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u11647 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:46px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u11648 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:46px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u11649 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:46px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u11650 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:46px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u11651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:127px;
  height:37px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u11652 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:86px;
  width:173px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u11653 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:86px;
  width:137px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u11654 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:86px;
  width:150px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u11655 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:86px;
  width:124px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u11656 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:86px;
  width:129px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
}
#u11657 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:86px;
  width:134px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u11658 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:86px;
  width:92px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u11659 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:86px;
  width:76px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u11660 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:86px;
  width:136px;
  height:37px;
  display:flex;
  text-align:center;
}
#u11660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u11661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u11662 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:123px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u11663 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:123px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11664 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:123px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u11665 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:123px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u11666 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:123px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u11667 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:123px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u11668 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:123px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u11669 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:123px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u11670 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:123px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u11670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u11671 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:163px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u11671 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11672 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:195px;
  width:40px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11674 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11675 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11676 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11677 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11678 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u11678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u11679 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:319px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u11679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
