body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:1086px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u42404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:599px;
}
#u42404 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:125px;
  width:1086px;
  height:599px;
  display:flex;
}
#u42404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
