body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1288px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u31904 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:13px;
  width:126px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u31904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:2px;
}
#u31905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1288px;
  height:1px;
  display:flex;
  color:#E4E4E4;
}
#u31905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31906 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31907 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:94px;
  width:785px;
  height:239px;
}
#u31908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:46px;
}
#u31908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u31908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:46px;
}
#u31909 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:337px;
  height:46px;
  display:flex;
  text-align:center;
}
#u31909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:40px;
}
#u31910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:448px;
  height:40px;
  display:flex;
  text-align:left;
}
#u31910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u31911 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:46px;
  width:337px;
  height:40px;
  display:flex;
  text-align:center;
}
#u31911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:35px;
}
#u31912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:448px;
  height:35px;
  display:flex;
  text-align:left;
}
#u31912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:35px;
}
#u31913 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:86px;
  width:337px;
  height:35px;
  display:flex;
  text-align:center;
}
#u31913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:38px;
}
#u31914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:448px;
  height:38px;
  display:flex;
  text-align:left;
}
#u31914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:38px;
}
#u31915 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:121px;
  width:337px;
  height:38px;
  display:flex;
  text-align:center;
}
#u31915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:40px;
}
#u31916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:448px;
  height:40px;
  display:flex;
  text-align:left;
}
#u31916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u31917 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:159px;
  width:337px;
  height:40px;
  display:flex;
  text-align:center;
}
#u31917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:40px;
}
#u31918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:448px;
  height:40px;
  display:flex;
}
#u31918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u31919 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:199px;
  width:337px;
  height:40px;
  display:flex;
  text-align:center;
}
#u31919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u31920 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:149px;
  width:19px;
  height:19px;
  display:flex;
}
#u31920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u31921 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:224px;
  width:19px;
  height:19px;
  display:flex;
}
#u31921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u31922 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:264px;
  width:19px;
  height:19px;
  display:flex;
}
#u31922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31925 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31926 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31927 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31928 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31929 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u31929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u31930 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:387px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u31930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
