body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-154px;
  width:961px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25780 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:811px;
  width:462px;
  height:16px;
  display:flex;
}
#u25780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:627px;
}
#u25781 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:126px;
  width:961px;
  height:627px;
  display:flex;
}
#u25781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25782 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:653px;
  width:150px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u25783 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:770px;
  width:612px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u25783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
