body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
}
#u6320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
  display:flex;
}
#u6320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6321 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:985px;
  width:1155px;
  height:272px;
  display:flex;
  font-size:14px;
}
#u6321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:43px;
}
#u6322 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:86px;
  width:324px;
  height:43px;
  display:flex;
}
#u6322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6323 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:168px;
  width:28px;
  height:16px;
  display:flex;
}
#u6323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6324 {
  border-width:0px;
  position:absolute;
  left:1443px;
  top:208px;
  width:56px;
  height:16px;
  display:flex;
}
#u6324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6324_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:1443px;
  top:249px;
  width:56px;
  height:16px;
  display:flex;
}
#u6325 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:288px;
  width:42px;
  height:16px;
  display:flex;
}
#u6326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
}
#u6327 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:199px;
  width:237px;
  height:35px;
  display:flex;
}
#u6327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:35px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:238px;
  width:237px;
  height:35px;
  display:flex;
}
#u6328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6329 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:284px;
  width:24px;
  height:24px;
  display:flex;
}
#u6329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6330 {
  border-width:0px;
  position:absolute;
  left:1744px;
  top:244px;
  width:24px;
  height:24px;
  display:flex;
}
#u6330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6331 {
  border-width:0px;
  position:absolute;
  left:1744px;
  top:205px;
  width:24px;
  height:24px;
  display:flex;
}
#u6331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
