body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-114px;
  width:1410px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:940px;
}
#u25765 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:174px;
  width:999px;
  height:940px;
  display:flex;
}
#u25765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u25766 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:415px;
  width:118px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u25766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25767 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1050px;
  width:75px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25768 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25769 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
}
#u25770 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:190px;
  width:113px;
  height:27px;
  display:flex;
}
#u25770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u25771 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:406px;
  width:54px;
  height:34px;
  display:flex;
}
#u25771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u25772 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:402px;
  width:54px;
  height:34px;
  display:flex;
}
#u25772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:598px;
}
#u25773 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:394px;
  width:80px;
  height:598px;
  display:flex;
}
#u25773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:40px;
}
#u25774 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:250px;
  width:721px;
  height:40px;
  display:flex;
}
#u25774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u25775 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:335px;
  width:207px;
  height:26px;
  display:flex;
}
#u25775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u25776 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1178px;
  width:906px;
  height:230px;
  display:flex;
  font-size:14px;
}
#u25776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25777 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1050px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u25778 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1118px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u25778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25779 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:475px;
  width:462px;
  height:64px;
  display:flex;
}
#u25779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
