body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1330px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37368 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:250px;
  width:834px;
  height:201px;
}
#u37369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u37369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u37369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:45px;
}
#u37370 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:534px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u37370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u37371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:300px;
  height:39px;
  display:flex;
  text-align:center;
}
#u37371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:39px;
}
#u37372 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:45px;
  width:534px;
  height:39px;
  display:flex;
  text-align:center;
}
#u37372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
}
#u37373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:300px;
  height:37px;
  display:flex;
  text-align:center;
}
#u37373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:37px;
}
#u37374 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:84px;
  width:534px;
  height:37px;
  display:flex;
  text-align:center;
}
#u37374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u37375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:300px;
  height:40px;
  display:flex;
  text-align:center;
}
#u37375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:40px;
}
#u37376 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:121px;
  width:534px;
  height:40px;
  display:flex;
  text-align:center;
}
#u37376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u37377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:300px;
  height:40px;
  display:flex;
  text-align:center;
}
#u37377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:40px;
}
#u37378 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:161px;
  width:534px;
  height:40px;
  display:flex;
  text-align:center;
}
#u37378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37379 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:424px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37379 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37381 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:464px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37381 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u37382 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:467px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u37382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u37383 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:317px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u37383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37384 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:345px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37384 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37385 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:383px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37385 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37386 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:257px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37386 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37388 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:302px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37388 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u37389 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:305px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u37389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37390 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:504px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37390 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37391 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:542px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u37391 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
}
#u37392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  display:flex;
}
#u37392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u37393 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:58px;
  width:200px;
  height:28px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u37393 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37393_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37394 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:121px;
  width:67px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37395 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:161px;
  width:67px;
  height:32px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:32px;
}
#u37396 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:619px;
  width:1291px;
  height:32px;
  display:flex;
}
#u37396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u37397 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:706px;
  width:1162px;
  height:144px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u37397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u37398 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:371px;
  width:14px;
  height:14px;
  display:flex;
}
#u37398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37400 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:121px;
  width:303px;
  height:38px;
  display:flex;
}
#u37400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u37401_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u37401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37401 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:128px;
  width:293px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37401_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37401.disabled {
}
#u37402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37402 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:202px;
  width:95px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
