body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-305px;
  width:1115px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:958px;
}
#u31277 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:89px;
  width:722px;
  height:958px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u31278 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:1079px;
  width:680px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u31278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:721px;
}
#u31279 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:89px;
  width:718px;
  height:721px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:288px;
}
#u31280 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:444px;
  width:641px;
  height:288px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u31281 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:434px;
  width:182px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u31282 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:459px;
  width:415px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.8);
}
#u31284 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:676px;
  width:83px;
  height:32px;
  display:flex;
  color:rgba(255, 255, 255, 0.8);
}
#u31284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u31285 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:814px;
  width:70px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31286 label {
  left:0px;
  width:100%;
}
#u31286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u31286 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:814px;
  width:72px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31286 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u31286_img.selected {
}
#u31286.selected {
}
#u31286_img.disabled {
}
#u31286.disabled {
}
#u31286_img.selectedDisabled {
}
#u31286.selectedDisabled {
}
#u31286_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u31286_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u31287 label {
  left:0px;
  width:100%;
}
#u31287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u31287 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:814px;
  width:71px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31287 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u31287_img.selected {
}
#u31287.selected {
}
#u31287_img.disabled {
}
#u31287.disabled {
}
#u31287_img.selectedDisabled {
}
#u31287.selectedDisabled {
}
#u31287_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:55px;
  word-wrap:break-word;
  text-transform:none;
}
#u31287_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u31288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
  text-align:center;
}
#u31288 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:627px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
  text-align:center;
}
#u31288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31289_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
}
#u31289 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:615px;
  width:208px;
  height:37px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31289 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31289_img.disabled {
}
#u31289.disabled {
}
.u31289_input_option {
}
#u31290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u31290 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:686px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u31290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u31291 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:763px;
  width:70px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31292_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u31292 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:751px;
  width:208px;
  height:39px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31292_img.disabled {
}
#u31292.disabled {
}
#u31293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u31293 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:676px;
  width:300px;
  height:48px;
  display:flex;
  line-height:16px;
}
#u31293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
}
#u31294 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:565px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u31294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31295_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
}
#u31295 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:555px;
  width:208px;
  height:37px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31295 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31295_img.disabled {
}
#u31295.disabled {
}
.u31295_input_option {
}
#u31296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u31296 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:518px;
  width:62px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u31296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31296_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31297 label {
  left:0px;
  width:100%;
}
#u31297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u31297 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:518px;
  width:54px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31297 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u31297_img.selected {
}
#u31297.selected {
}
#u31297_img.disabled {
}
#u31297.disabled {
}
#u31297_img.selectedDisabled {
}
#u31297.selectedDisabled {
}
#u31297_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-transform:none;
}
#u31297_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u31298 label {
  left:0px;
  width:100%;
}
#u31298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u31298 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:518px;
  width:53px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31298 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u31298_img.selected {
}
#u31298.selected {
}
#u31298_img.disabled {
}
#u31298.disabled {
}
#u31298_img.selectedDisabled {
}
#u31298.selectedDisabled {
}
#u31298_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:37px;
  word-wrap:break-word;
  text-transform:none;
}
#u31298_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u31299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:183px;
}
#u31299 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:830px;
  width:619px;
  height:183px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u31299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31300 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:518px;
  width:300px;
  height:277px;
  display:flex;
}
#u31300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u31301 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:664px;
  width:314px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.000291951529deg);
  -moz-transform:rotate(90.000291951529deg);
  -ms-transform:rotate(90.000291951529deg);
  transform:rotate(90.000291951529deg);
  color:rgba(51, 51, 51, 0.8);
}
#u31301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u31302 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:191px;
  width:20px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u31302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31302_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
