body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-114px;
  width:1402px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u34676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:940px;
}
#u34676 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:174px;
  width:999px;
  height:940px;
  display:flex;
}
#u34676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u34677 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:415px;
  width:118px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u34677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34678 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1050px;
  width:75px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34679 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34680 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
}
#u34681 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:190px;
  width:113px;
  height:27px;
  display:flex;
}
#u34681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u34682 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:406px;
  width:54px;
  height:34px;
  display:flex;
}
#u34682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u34683 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:402px;
  width:54px;
  height:34px;
  display:flex;
}
#u34683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:598px;
}
#u34684 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:394px;
  width:80px;
  height:598px;
  display:flex;
}
#u34684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:40px;
}
#u34685 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:250px;
  width:721px;
  height:40px;
  display:flex;
}
#u34685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u34686 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:335px;
  width:207px;
  height:26px;
  display:flex;
}
#u34686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u34687 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1178px;
  width:906px;
  height:134px;
  display:flex;
  font-size:14px;
}
#u34687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34688 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1050px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u34689 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1118px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u34689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34690 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:475px;
  width:454px;
  height:64px;
  display:flex;
}
#u34690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
