body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1488px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:922px;
}
#u28936 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1488px;
  height:922px;
  display:flex;
}
#u28936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u28937 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:142px;
  width:65px;
  height:30px;
  display:flex;
}
#u28937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28938 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:150px;
  width:56px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u28938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28939 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:960px;
  width:495px;
  height:80px;
  display:flex;
}
#u28939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28939_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:45px;
}
#u28940 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:193px;
  width:551px;
  height:45px;
  display:flex;
}
#u28940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28941 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:208px;
  width:42px;
  height:16px;
  display:flex;
}
#u28941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:334px;
}
#u28942 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:195px;
  width:199px;
  height:334px;
  display:flex;
}
#u28942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28943 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:210px;
  width:53px;
  height:16px;
  display:flex;
}
#u28943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28943_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28944 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:201px;
  width:160px;
  height:37px;
  display:flex;
}
#u28944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
