body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-87px;
  width:1025px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u42405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:811px;
}
#u42405 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:19px;
  width:1018px;
  height:811px;
  display:flex;
}
#u42405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:224px;
}
#u42406 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:902px;
  width:632px;
  height:224px;
  display:flex;
}
#u42406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:767px;
}
#u42407 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1145px;
  width:1006px;
  height:767px;
  display:flex;
}
#u42407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:698px;
}
#u42408 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1896px;
  width:1009px;
  height:698px;
  display:flex;
}
#u42408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:726px;
}
#u42409 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:2583px;
  width:1006px;
  height:726px;
  display:flex;
}
#u42409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
