body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1308px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Malayalam MN ', 'Malayalam MN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:97px;
  display:flex;
  font-family:'Malayalam MN ', 'Malayalam MN', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6571 .text {
  position:absolute;
  align-self:flex-start;
  padding:18px 2px 2px 36px;
  box-sizing:border-box;
  width:100%;
}
#u6571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6572 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u6572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u6573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:112px;
  height:44px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u6573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u6573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6574 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:227px;
  width:8px;
  height:8px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u6574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6575 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:191px;
  width:32px;
  height:24px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u6575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6576 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:219px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6576 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6577 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:259px;
  width:1298px;
  height:328px;
}
#u6578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  text-align:center;
}
#u6578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6579 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  text-align:center;
}
#u6579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u6580 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:163px;
  height:45px;
  display:flex;
  text-align:center;
}
#u6580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6581 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  text-align:center;
}
#u6581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6582 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u6582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6583 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u6583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u6584 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:0px;
  width:163px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u6584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u6585 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:0px;
  width:162px;
  height:45px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u6585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6587 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6588 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:45px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6589 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6590 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6591 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6592 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:45px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6593 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:45px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
}
#u6594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6595 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6596 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:85px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6597 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6598 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6599 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6600 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:85px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6601 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:85px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
}
#u6602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6603 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u6604 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:125px;
  width:163px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6605 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6606 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6607 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:125px;
  width:163px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:125px;
  width:162px;
  height:43px;
  display:flex;
  text-align:center;
}
#u6609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
}
#u6610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6612 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:168px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6613 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6614 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6615 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6616 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:168px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6617 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:168px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6619 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6620 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:208px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6621 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6622 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6623 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6624 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:208px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6625 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:208px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
}
#u6626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6627 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6628 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:248px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6629 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6630 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6631 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6632 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:248px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:248px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
}
#u6634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6635 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:288px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:288px;
  width:163px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:288px;
  width:162px;
  height:40px;
  display:flex;
  text-align:center;
}
#u6641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:331px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:145px;
  width:8px;
  height:8px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u6643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:109px;
  width:32px;
  height:24px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u6644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:117px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6645 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:159px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6646 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:126px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u6647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:127px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u6648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:116px;
  width:184px;
  height:38px;
  display:flex;
}
#u6650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6651_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:123px;
  width:178px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6651_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6651.disabled {
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:116px;
  width:184px;
  height:38px;
  display:flex;
}
#u6653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6654_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:123px;
  width:178px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6654_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6654.disabled {
}
#u6655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:126px;
  width:39px;
  height:16px;
  display:flex;
  font-size:13px;
}
#u6655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:633px;
  width:476px;
  height:16px;
  display:flex;
}
#u6656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6656_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6657_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:115px;
  width:184px;
  height:36px;
  display:flex;
}
#u6657 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6657_img.disabled {
}
#u6657.disabled {
}
.u6657_input_option {
}
#u6658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:219px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6658 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:311px;
  width:25px;
  height:25px;
  display:flex;
}
#u6659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:351px;
  width:25px;
  height:25px;
  display:flex;
}
#u6660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
