body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-305px;
  width:1115px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:958px;
}
#u10538 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:89px;
  width:722px;
  height:958px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u10539 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:1079px;
  width:680px;
  height:230px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:721px;
}
#u10540 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:89px;
  width:718px;
  height:721px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:288px;
}
#u10541 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:444px;
  width:641px;
  height:288px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u10542 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:434px;
  width:182px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u10543 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:459px;
  width:415px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.8);
}
#u10545 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:676px;
  width:83px;
  height:32px;
  display:flex;
  color:rgba(255, 255, 255, 0.8);
}
#u10545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u10546 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:814px;
  width:70px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10547 label {
  left:0px;
  width:100%;
}
#u10547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10547 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:814px;
  width:72px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10547 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u10547_img.selected {
}
#u10547.selected {
}
#u10547_img.disabled {
}
#u10547.disabled {
}
#u10547_img.selectedDisabled {
}
#u10547.selectedDisabled {
}
#u10547_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u10547_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10548 label {
  left:0px;
  width:100%;
}
#u10548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10548 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:814px;
  width:71px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10548 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u10548_img.selected {
}
#u10548.selected {
}
#u10548_img.disabled {
}
#u10548.disabled {
}
#u10548_img.selectedDisabled {
}
#u10548.selectedDisabled {
}
#u10548_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:55px;
  word-wrap:break-word;
  text-transform:none;
}
#u10548_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
  text-align:center;
}
#u10549 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:627px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
  text-align:center;
}
#u10549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10550_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
}
#u10550 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:615px;
  width:208px;
  height:37px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10550 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10550_img.disabled {
}
#u10550.disabled {
}
.u10550_input_option {
}
#u10551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u10551 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:686px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u10551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.8);
}
#u10552 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:763px;
  width:70px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10552 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10552_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10553_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10553_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:751px;
  width:208px;
  height:39px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10553_img.disabled {
}
#u10553.disabled {
}
#u10554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:676px;
  width:300px;
  height:48px;
  display:flex;
  line-height:16px;
}
#u10554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:565px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u10555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10556_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(51, 51, 51, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u10556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:555px;
  width:208px;
  height:37px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10556 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10556_img.disabled {
}
#u10556.disabled {
}
.u10556_input_option {
}
#u10557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:518px;
  width:62px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.8);
}
#u10557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10557_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10558 label {
  left:0px;
  width:100%;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:518px;
  width:54px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10558 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u10558_img.selected {
}
#u10558.selected {
}
#u10558_img.disabled {
}
#u10558.disabled {
}
#u10558_img.selectedDisabled {
}
#u10558.selectedDisabled {
}
#u10558_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-transform:none;
}
#u10558_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10559 label {
  left:0px;
  width:100%;
}
#u10559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:518px;
  width:53px;
  height:15px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10559 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u10559_img.selected {
}
#u10559.selected {
}
#u10559_img.disabled {
}
#u10559.disabled {
}
#u10559_img.selectedDisabled {
}
#u10559.selectedDisabled {
}
#u10559_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:37px;
  word-wrap:break-word;
  text-transform:none;
}
#u10559_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:183px;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:830px;
  width:619px;
  height:183px;
  display:flex;
  color:rgba(51, 51, 51, 0.8);
}
#u10560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:518px;
  width:300px;
  height:277px;
  display:flex;
}
#u10561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:664px;
  width:314px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.000291951529deg);
  -moz-transform:rotate(90.000291951529deg);
  -ms-transform:rotate(90.000291951529deg);
  transform:rotate(90.000291951529deg);
  color:rgba(51, 51, 51, 0.8);
}
#u10562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:191px;
  width:20px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u10563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
