body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:936px;
}
#u28966 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1920px;
  height:936px;
  display:flex;
}
#u28966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28967 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:993px;
  width:378px;
  height:80px;
  display:flex;
}
#u28967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
