body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-324px;
  width:224px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28985 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:504px;
  width:224px;
  height:16px;
  display:flex;
}
#u28985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28985_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
