body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:1711px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1711px;
  height:888px;
}
#u28945 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1711px;
  height:888px;
  display:flex;
}
#u28945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28946 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1020px;
  width:464px;
  height:208px;
  display:flex;
}
#u28946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:131px;
}
#u28947 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1020px;
  width:513px;
  height:131px;
  display:flex;
}
#u28947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:124px;
}
#u28948 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:1020px;
  width:581px;
  height:124px;
  display:flex;
}
#u28948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28949 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:177px;
  width:820px;
  height:50px;
  display:flex;
  opacity:0.42;
}
#u28949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28950 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:600px;
  width:80px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
