body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-3px;
  width:1331px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:974px;
}
#u12662 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:1331px;
  height:974px;
  display:flex;
}
#u12662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12663 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:103px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12663_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12664 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:88px;
  width:784px;
  height:732px;
  display:flex;
}
#u12664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:50px;
  background:inherit;
  background-color:rgba(32, 34, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:88px;
  width:784px;
  height:50px;
  display:flex;
}
#u12665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12666 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:103px;
  width:69px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u12666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 106, 235, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12667 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:99px;
  width:63px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12668 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:237px;
  width:48px;
  height:16px;
  display:flex;
}
#u12668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12669_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u12669 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:226px;
  width:208px;
  height:39px;
  display:flex;
}
#u12669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12669_img.disabled {
}
#u12669.disabled {
}
#u12670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12671 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:701px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12672 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:701px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u12672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12673 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:293px;
  width:76px;
  height:16px;
  display:flex;
}
#u12673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12674_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:281px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u12674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12674_img.disabled {
}
#u12674.disabled {
}
#u12675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:348px;
  width:76px;
  height:16px;
  display:flex;
}
#u12675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12676_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:336px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u12676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12676_img.disabled {
}
#u12676.disabled {
}
#u12677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12677_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:390px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u12677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12677_img.disabled {
}
#u12677.disabled {
}
#u12678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:403px;
  width:48px;
  height:16px;
  display:flex;
}
#u12678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:462px;
  width:52px;
  height:16px;
  display:flex;
}
#u12679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:455px;
  width:74px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u12680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:489px;
  width:115px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:463px;
  width:94px;
  height:15px;
  display:flex;
}
#u12682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:526px;
  width:86px;
  height:16px;
  display:flex;
}
#u12683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:520px;
  width:74px;
  height:30px;
  display:flex;
  font-size:12px;
}
#u12684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:527px;
  width:45px;
  height:16px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
}
#u12685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:524px;
  width:22px;
  height:22px;
  display:flex;
}
#u12686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:524px;
  width:22px;
  height:22px;
  display:flex;
}
#u12687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:636px;
  width:99px;
  height:16px;
  display:flex;
}
#u12688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:527px;
  width:45px;
  height:16px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
}
#u12689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:624px;
  width:76px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u12690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:624px;
  width:76px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u12691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12692_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:566px;
  width:208px;
  height:39px;
  display:flex;
  font-size:12px;
}
#u12692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12692_img.disabled {
}
#u12692.disabled {
}
#u12693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:579px;
  width:48px;
  height:16px;
  display:flex;
}
#u12693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12693_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
