body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-295px;
  width:772px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9882 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:170px;
  width:772px;
  height:208px;
  display:flex;
}
#u9882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:390px;
}
#u9883 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:480px;
  width:540px;
  height:390px;
  display:flex;
}
#u9883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:216px;
}
#u9884 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:567px;
  width:479px;
  height:216px;
  display:flex;
}
#u9884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9885 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:611px;
  width:364px;
  height:80px;
  display:flex;
}
#u9885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9886 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:820px;
  width:89px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9887 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:820px;
  width:82px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
