body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-120px;
  width:999px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:940px;
}
#u37183 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:174px;
  width:999px;
  height:940px;
  display:flex;
}
#u37183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u37184 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:415px;
  width:117px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u37184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37185 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1050px;
  width:85px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37186 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37187 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:450px;
  width:100px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
}
#u37188 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:190px;
  width:113px;
  height:27px;
  display:flex;
}
#u37188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u37189 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:406px;
  width:54px;
  height:34px;
  display:flex;
}
#u37189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u37190 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:402px;
  width:54px;
  height:34px;
  display:flex;
}
#u37190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:598px;
}
#u37191 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:394px;
  width:80px;
  height:598px;
  display:flex;
}
#u37191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:40px;
}
#u37192 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:250px;
  width:721px;
  height:40px;
  display:flex;
}
#u37192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u37193 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:335px;
  width:207px;
  height:26px;
  display:flex;
}
#u37193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u37194 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1170px;
  width:944px;
  height:153px;
  display:flex;
  font-size:14px;
}
#u37194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37195 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1050px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u37196 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1118px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u37196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
