.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.flow_shape {
}
.label {
  font-size:14px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
._线段 {
}
.line {
}
.icon {
}
._图片 {
  color:#000000;
}
._形状 {
}
._文本段落1 {
  text-align:left;
}
.box_3 {
}
.shape {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.connector {
}
._连接 {
}
.paragraph {
  text-align:left;
}
._形状1 {
}
.shape1 {
}
.table {
}
.line1 {
}
._表格 {
}
._单元格 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.form_disabled {
}
.shape2 {
  line-height:normal;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#999999;
  text-align:center;
}
._图片_ {
  color:#000000;
}
.image1 {
  color:#000000;
}
.sticky_4 {
  text-align:left;
}
._图片1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.sticky_2 {
  text-align:left;
}
._形状2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.sticky_3 {
  text-align:left;
}
.html_button {
  text-align:center;
}
.arrow {
}
.paragraph1 {
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
._水平线 {
}
._表格1 {
}
._水平线1 {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.iconfont {
  font-family:'iconfont ', 'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._图片2 {
}
.heading_11 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.image2 {
}
.form_disabled1 {
}
textarea, select, input, button { outline: none; }
