body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1406px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22649 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:34px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u22649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u22650 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:34px;
  width:21px;
  height:21px;
  display:flex;
}
#u22650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:2px;
}
#u22651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1096px;
  height:1px;
  display:flex;
}
#u22651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22652 label {
  left:0px;
  width:100%;
}
#u22652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22652 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:321px;
  width:22px;
  height:16px;
  display:flex;
}
#u22652 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u22652_img.selected {
}
#u22652.selected {
}
#u22652_img.disabled {
}
#u22652.disabled {
}
#u22652_img.selectedDisabled {
}
#u22652.selectedDisabled {
}
#u22652_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22652_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22653 label {
  left:0px;
  width:100%;
}
#u22653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22653 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:359px;
  width:22px;
  height:16px;
  display:flex;
}
#u22653 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u22653_img.selected {
}
#u22653.selected {
}
#u22653_img.disabled {
}
#u22653.disabled {
}
#u22653_img.selectedDisabled {
}
#u22653.selectedDisabled {
}
#u22653_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22653_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22654 label {
  left:0px;
  width:100%;
}
#u22654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:399px;
  width:22px;
  height:16px;
  display:flex;
}
#u22654 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u22654_img.selected {
}
#u22654.selected {
}
#u22654_img.disabled {
}
#u22654.disabled {
}
#u22654_img.selectedDisabled {
}
#u22654.selectedDisabled {
}
#u22654_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22654_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22655 label {
  left:0px;
  width:100%;
}
#u22655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:440px;
  width:22px;
  height:16px;
  display:flex;
}
#u22655 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u22655_img.selected {
}
#u22655.selected {
}
#u22655_img.disabled {
}
#u22655.disabled {
}
#u22655_img.selectedDisabled {
}
#u22655.selectedDisabled {
}
#u22655_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22655_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22656 label {
  left:0px;
  width:100%;
}
#u22656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22656 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:477px;
  width:22px;
  height:16px;
  display:flex;
}
#u22656 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u22656_img.selected {
}
#u22656.selected {
}
#u22656_img.disabled {
}
#u22656.disabled {
}
#u22656_img.selectedDisabled {
}
#u22656.selectedDisabled {
}
#u22656_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:6px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22656_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:93px;
  width:95px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:90px;
  width:303px;
  height:38px;
  display:flex;
}
#u22658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:94px;
  width:30px;
  height:30px;
  display:flex;
}
#u22659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22660_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:92px;
  width:251px;
  height:36px;
  display:flex;
}
#u22660 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22660_img.disabled {
}
#u22660.disabled {
}
.u22660_input_option {
}
#u22661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:102px;
  width:20px;
  height:14px;
  display:flex;
}
#u22661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:246px;
  width:694px;
  height:378px;
}
#u22663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  display:flex;
  text-align:center;
}
#u22663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  text-align:center;
}
#u22664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  text-align:center;
}
#u22665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u22666 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:0px;
  width:148px;
  height:45px;
  display:flex;
  text-align:center;
}
#u22666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u22667 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:0px;
  width:145px;
  height:45px;
  display:flex;
  text-align:center;
}
#u22667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:96px;
}
#u22668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:143px;
  height:96px;
  display:flex;
  text-align:center;
}
#u22668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:96px;
}
#u22669 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:45px;
  width:129px;
  height:96px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u22669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:96px;
}
#u22670 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:45px;
  width:129px;
  height:96px;
  display:flex;
  text-align:center;
}
#u22670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:96px;
}
#u22671 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:45px;
  width:148px;
  height:96px;
  display:flex;
  text-align:center;
}
#u22671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:96px;
}
#u22672 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:45px;
  width:145px;
  height:96px;
  display:flex;
  text-align:center;
}
#u22672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u22673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:143px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22674 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:141px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22675 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:141px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u22676 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:141px;
  width:148px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u22677 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:141px;
  width:145px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:37px;
}
#u22678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:143px;
  height:37px;
  display:flex;
  text-align:center;
}
#u22678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u22679 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:181px;
  width:129px;
  height:37px;
  display:flex;
  text-align:center;
}
#u22679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u22680 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:181px;
  width:129px;
  height:37px;
  display:flex;
  text-align:center;
}
#u22680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
}
#u22681 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:181px;
  width:148px;
  height:37px;
  display:flex;
  text-align:center;
}
#u22681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u22682 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:181px;
  width:145px;
  height:37px;
  display:flex;
  text-align:center;
}
#u22682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u22683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:143px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22684 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:218px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22685 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:218px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u22686 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:218px;
  width:148px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u22687 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:218px;
  width:145px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u22688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:143px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22689 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:258px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22690 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:258px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u22691 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:258px;
  width:148px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u22692 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:258px;
  width:145px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u22693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:143px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22694 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:298px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22695 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:298px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u22696 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:298px;
  width:148px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u22697 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:298px;
  width:145px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u22698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:143px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22699 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:338px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u22700 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:338px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u22701 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:338px;
  width:148px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u22702 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:338px;
  width:145px;
  height:40px;
  display:flex;
  text-align:center;
}
#u22702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:58px;
}
#u22703 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:307px;
  width:59px;
  height:58px;
  display:flex;
}
#u22703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:662px;
}
#u22704 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:143px;
  width:338px;
  height:662px;
  display:flex;
}
#u22704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22705 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:274px;
  width:25px;
  height:22px;
  display:flex;
}
#u22705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22706 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:280px;
  width:56px;
  height:16px;
  display:flex;
}
#u22706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22706_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22707 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:162px;
  width:303px;
  height:30px;
  display:flex;
}
#u22707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22708 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:322px;
  width:25px;
  height:22px;
  display:flex;
}
#u22708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22709 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:328px;
  width:106px;
  height:16px;
  display:flex;
}
#u22709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22710 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:366px;
  width:25px;
  height:22px;
  display:flex;
}
#u22710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u22711 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:372px;
  width:78px;
  height:16px;
  display:flex;
}
#u22711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22711_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 171, 160, 0.145098039215686);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22712 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:215px;
  width:338px;
  height:43px;
  display:flex;
}
#u22712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22713 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:230px;
  width:92px;
  height:16px;
  display:flex;
}
#u22713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22714 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:224px;
  width:25px;
  height:22px;
  display:flex;
}
#u22714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22715 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:163px;
  width:30px;
  height:30px;
  display:flex;
}
#u22715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22716 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:409px;
  width:25px;
  height:22px;
  display:flex;
}
#u22716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u22717 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:415px;
  width:78px;
  height:16px;
  display:flex;
}
#u22717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22717_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22718 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:428px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22718 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22720 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:468px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22720 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u22721 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:471px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u22722 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:321px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22723 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:349px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22723 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22724 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:387px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22725 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:261px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22725 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22727 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:306px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22727 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u22728 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:309px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u22728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22729 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:508px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22729 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22730 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:546px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u22730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:46px;
}
#u22731 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:656px;
  width:677px;
  height:46px;
  display:flex;
}
#u22731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22732 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:762px;
  width:95px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u22732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#111010;
}
#u22733 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:762px;
  width:95px;
  height:30px;
  display:flex;
  color:#111010;
}
#u22733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22734 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:192px;
  width:196px;
  height:32px;
  display:flex;
}
#u22734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
