body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1308px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u42425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:662px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.215686274509804);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42425 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:184px;
  width:706px;
  height:662px;
  display:flex;
}
#u42425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u42426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u42426 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u42426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u42427 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:53px;
  width:112px;
  height:44px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u42427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u42427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42428 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:110px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.305882352941176);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42429 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:110px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42430 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:292px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.305882352941176);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42431 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:292px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.305882352941176);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42432 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:110px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u42432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:662px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.215686274509804);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42433 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:184px;
  width:560px;
  height:662px;
  display:flex;
}
#u42433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42434 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:218px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42435 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:218px;
  width:103px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42436 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:276px;
  width:62px;
  height:16px;
  display:flex;
}
#u42436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42436_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#959595;
}
#u42437 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:220px;
  width:181px;
  height:16px;
  display:flex;
  color:#959595;
}
#u42437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u42438 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:340px;
  width:70px;
  height:16px;
  display:flex;
}
#u42438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42438_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u42439 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:409px;
  width:84px;
  height:16px;
  display:flex;
}
#u42439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42439_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
}
#u42440 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:417px;
  width:229px;
  height:14px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u42440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:28px;
}
#u42441 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:526px;
  width:247px;
  height:28px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u42441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u42442 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:518px;
  width:126px;
  height:16px;
  display:flex;
}
#u42442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u42443_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#B5B5B5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u42443_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#B5B5B5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u42443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
}
#u42443 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:336px;
  width:300px;
  height:25px;
  display:flex;
  color:#B5B5B5;
}
#u42443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42443_img.disabled {
}
#u42443.disabled {
}
#u42444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42445 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:409px;
  width:59px;
  height:59px;
  display:flex;
  font-size:20px;
}
#u42445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42447 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:513px;
  width:98px;
  height:90px;
  display:flex;
  font-size:20px;
}
#u42447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42448 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:787px;
  width:78px;
  height:30px;
  display:flex;
}
#u42448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C3C3C3;
  text-align:left;
}
#u42449 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:270px;
  width:299px;
  height:28px;
  display:flex;
  color:#C3C3C3;
  text-align:left;
}
#u42449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:577px;
}
#u42450 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:258px;
  width:212px;
  height:577px;
  display:flex;
}
#u42450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#959595;
}
#u42451 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:345px;
  width:300px;
  height:90px;
  display:flex;
  color:#959595;
}
#u42451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
