body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1777px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u13339 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:126px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u13339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:2px;
}
#u13340 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:49px;
  width:1288px;
  height:1px;
  display:flex;
  color:#E4E4E4;
}
#u13340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13341 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13342 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:113px;
  width:96px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:1776px;
  height:163px;
}
#u13344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
}
#u13344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:46px;
}
#u13345 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:173px;
  height:46px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
}
#u13346 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:137px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
}
#u13347 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:150px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u13348 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:0px;
  width:124px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u13349 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:129px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u13350 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:134px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
}
#u13351 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:0px;
  width:92px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:46px;
}
#u13352 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:76px;
  height:46px;
  display:flex;
}
#u13352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u13353 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:0px;
  width:136px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
}
#u13354 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:0px;
  width:108px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:46px;
}
#u13355 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:107px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:46px;
}
#u13356 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:0px;
  width:283px;
  height:46px;
  display:flex;
  text-align:center;
}
#u13356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u13357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u13358 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:46px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u13359 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:46px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13360 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:46px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u13361 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:46px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u13362 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:46px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u13363 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:46px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u13364 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:46px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u13365 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:46px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u13366 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:46px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u13367 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:46px;
  width:108px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u13368 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:46px;
  width:107px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
}
#u13369 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:46px;
  width:283px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u13370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:127px;
  height:37px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u13371 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:86px;
  width:173px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u13372 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:86px;
  width:137px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u13373 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:86px;
  width:150px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u13374 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:86px;
  width:124px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u13375 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:86px;
  width:129px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
}
#u13376 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:86px;
  width:134px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u13377 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:86px;
  width:92px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u13378 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:86px;
  width:76px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u13379 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:86px;
  width:136px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u13380 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:86px;
  width:108px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u13381 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:86px;
  width:107px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:37px;
}
#u13382 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:86px;
  width:283px;
  height:37px;
  display:flex;
  text-align:center;
}
#u13382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u13383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:127px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u13383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u13384 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:123px;
  width:173px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u13385 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:123px;
  width:137px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13386 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:123px;
  width:150px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u13387 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:123px;
  width:124px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u13388 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:123px;
  width:129px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u13389 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:123px;
  width:134px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u13390 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:123px;
  width:92px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u13391 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:123px;
  width:76px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u13392 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:123px;
  width:136px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u13393 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:123px;
  width:108px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u13394 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:123px;
  width:107px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
}
#u13395 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:123px;
  width:283px;
  height:40px;
  display:flex;
  text-align:center;
}
#u13395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13396 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:330px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13396 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13398 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:370px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13398 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u13399 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:373px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u13400 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:223px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13401 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:251px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13402 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:289px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13403 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:163px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13405 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:208px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13405 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u13406 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:211px;
  width:10px;
  height:8px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13407 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:410px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13407 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13408 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:448px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u13408 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13409 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:113px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13410 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:113px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u13411 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:195px;
  width:155px;
  height:43px;
  display:flex;
}
#u13411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13412 {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:195px;
  width:40px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13413 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:195px;
  width:45px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13414 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:195px;
  width:40px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13415 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:205px;
  width:24px;
  height:24px;
  display:flex;
}
#u13415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u13416 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:206px;
  width:23px;
  height:23px;
  display:flex;
}
#u13416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13419 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13420 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:54px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13421 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 171, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13422 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:53px;
  width:95px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#33ABA0;
}
#u13422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:270px;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:451px;
  width:357px;
  height:270px;
  display:flex;
}
#u13424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 171, 160, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13426 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:646px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13427 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:646px;
  width:95px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13428 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:560px;
  width:70px;
  height:16px;
  display:flex;
}
#u13428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13429_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13429 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:550px;
  width:184px;
  height:36px;
  display:flex;
}
#u13429 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13429_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13429.disabled {
}
.u13429_input_option {
}
#u13430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13430 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:463px;
  width:70px;
  height:16px;
  display:flex;
}
#u13430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13431 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:428px;
  width:104px;
  height:15px;
  display:flex;
  color:#000000;
}
#u13431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13432 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:731px;
  width:280px;
  height:19px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13433 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:550px;
  width:434px;
  height:32px;
  display:flex;
}
#u13433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u13434 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:596px;
  width:300px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u13434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
