body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-283px;
  width:976px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u40759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:687px;
}
#u40759 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:79px;
  width:589px;
  height:687px;
  display:flex;
}
#u40759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u40760 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:831px;
  width:976px;
  height:16px;
  display:flex;
  color:#000000;
}
#u40760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
