body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3151px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u34517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3151px;
  height:2710px;
}
#u34517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3151px;
  height:2710px;
  display:flex;
}
#u34517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1018px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.509803921568627);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34518 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:800px;
  height:1018px;
  display:flex;
}
#u34518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1018px;
}
#u34519 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:0px;
  width:800px;
  height:1018px;
  display:flex;
}
#u34519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34520 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:8px;
  width:72px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u34520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:2px;
}
#u34521 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:46px;
  width:796px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0721608932227323deg);
  -moz-transform:rotate(-0.0721608932227323deg);
  -ms-transform:rotate(-0.0721608932227323deg);
  transform:rotate(-0.0721608932227323deg);
  color:#E4E4E4;
}
#u34521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u34522 {
  border-width:0px;
  position:absolute;
  left:1926px;
  top:8px;
  width:21px;
  height:25px;
  display:flex;
  font-size:9px;
  color:#AAAAAA;
}
#u34522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:141px;
}
#u34524 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:109px;
  width:686px;
  height:131px;
  display:flex;
  opacity:0.15;
}
#u34524 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34525 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:137px;
  width:300px;
  height:15px;
  display:flex;
}
#u34525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34526 {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:136px;
  width:284px;
  height:16px;
  display:flex;
}
#u34526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34528 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:173px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34528 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:156px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#7F7F7F;
}
#u34529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34529_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.mouseOver {
}
#u34529_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.mouseDown {
}
#u34529_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.selected {
}
#u34529_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.focused {
}
#u34529_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.selectedFocused {
}
#u34529_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34529.disabled {
}
#u34529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34531 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:172px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34531 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:155px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#918080;
}
#u34532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34532_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532.mouseOver {
}
#u34532_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532.mouseDown {
}
#u34532_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532.selected {
}
#u34532_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532.focused {
}
#u34532_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34532.selectedFocused {
}
#u34532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34534 {
  border-width:0px;
  position:absolute;
  left:1708px;
  top:172px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34534 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:155px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#918080;
}
#u34535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34535_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535.mouseOver {
}
#u34535_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535.mouseDown {
}
#u34535_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535.selected {
}
#u34535_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535.focused {
}
#u34535_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34535.selectedFocused {
}
#u34535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:141px;
}
#u34537 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:290px;
  width:686px;
  height:131px;
  display:flex;
  opacity:0.15;
}
#u34537 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34538 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:318px;
  width:300px;
  height:15px;
  display:flex;
}
#u34538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34539 {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:317px;
  width:284px;
  height:16px;
  display:flex;
}
#u34539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34541 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:354px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34541 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:337px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#7F7F7F;
}
#u34542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34542_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.mouseOver {
}
#u34542_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.mouseDown {
}
#u34542_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.selected {
}
#u34542_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.focused {
}
#u34542_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.selectedFocused {
}
#u34542_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7F7F7F;
}
#u34542.disabled {
}
#u34542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34544 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:353px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34544 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:336px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#918080;
}
#u34545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34545_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545.mouseOver {
}
#u34545_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545.mouseDown {
}
#u34545_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545.selected {
}
#u34545_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545.focused {
}
#u34545_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34545.selectedFocused {
}
#u34545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u34547 {
  border-width:0px;
  position:absolute;
  left:1708px;
  top:353px;
  width:167px;
  height:33px;
  display:flex;
  opacity:0.88;
  text-align:left;
}
#u34547 .text {
  position:absolute;
  align-self:center;
  padding:1px 1px 1px 1px;
  box-sizing:border-box;
  width:100%;
}
#u34547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:336px;
  width:21px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#918080;
}
#u34548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34548_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548.mouseOver {
}
#u34548_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548.mouseDown {
}
#u34548_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548.selected {
}
#u34548_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548.focused {
}
#u34548_div.selectedFocused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#918080;
}
#u34548.selectedFocused {
}
#u34548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:2px;
}
#u34549 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:960px;
  width:797px;
  height:1px;
  display:flex;
}
#u34549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(20, 184, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 184, 164, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34551 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:976px;
  width:95px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 106, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u34552 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:976px;
  width:95px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u34552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34553 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:704px;
  width:588px;
  height:16px;
  display:flex;
}
#u34553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D9001B;
}
#u34554 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:673px;
  width:612px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#D9001B;
}
#u34554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
