body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1588px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1025px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1025px;
  display:flex;
}
#u41118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:888px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41119 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:98px;
  width:770px;
  height:888px;
  display:flex;
}
#u41119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41120 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:117px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u41120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41121 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:636px;
  width:80px;
  height:16px;
  display:flex;
}
#u41121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u41122 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:268px;
  width:52px;
  height:16px;
  display:flex;
}
#u41122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
  background:inherit;
  background-color:rgba(30, 159, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41123 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:798px;
  width:85px;
  height:38px;
  display:flex;
}
#u41123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u41124 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:111px;
  width:35px;
  height:38px;
  display:flex;
}
#u41124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:2px;
}
#u41125 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:151px;
  width:767px;
  height:1px;
  display:flex;
  color:#E4E4E4;
}
#u41125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u41126 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:493px;
  width:80px;
  height:16px;
  display:flex;
}
#u41126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:98px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u41127_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:98px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u41127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41127 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:493px;
  width:444px;
  height:98px;
  display:flex;
}
#u41127 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41127_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:98px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41127.disabled {
}
#u41128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41128 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:261px;
  width:200px;
  height:29px;
  display:flex;
}
#u41128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:26px;
}
#u41129 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:261px;
  width:292px;
  height:26px;
  display:flex;
}
#u41129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u41130 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:312px;
  width:80px;
  height:16px;
  display:flex;
}
#u41130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41131 label {
  left:0px;
  width:100%;
}
#u41131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u41131 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:313px;
  width:100px;
  height:15px;
  display:flex;
}
#u41131 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u41131_img.selected {
}
#u41131.selected {
}
#u41131_img.disabled {
}
#u41131.disabled {
}
#u41131_img.selectedDisabled {
}
#u41131.selectedDisabled {
}
#u41131_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u41131_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u41132 label {
  left:0px;
  width:100%;
}
#u41132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u41132 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:313px;
  width:100px;
  height:15px;
  display:flex;
}
#u41132 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u41132_img.selected {
}
#u41132.selected {
}
#u41132_img.disabled {
}
#u41132.disabled {
}
#u41132_img.selectedDisabled {
}
#u41132.selectedDisabled {
}
#u41132_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u41132_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u41133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u41133 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:353px;
  width:80px;
  height:16px;
  display:flex;
}
#u41133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41134 label {
  left:0px;
  width:100%;
}
#u41134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u41134 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:353px;
  width:362px;
  height:15px;
  display:flex;
}
#u41134 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u41134_img.selected {
}
#u41134.selected {
}
#u41134_img.disabled {
}
#u41134.disabled {
}
#u41134_img.selectedDisabled {
}
#u41134.selectedDisabled {
}
#u41134_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:346px;
  word-wrap:break-word;
  text-transform:none;
}
#u41134_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u41135 label {
  left:0px;
  width:100%;
}
#u41135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u41135 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:382px;
  width:369px;
  height:15px;
  display:flex;
}
#u41135 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u41135_img.selected {
}
#u41135.selected {
}
#u41135_img.disabled {
}
#u41135.disabled {
}
#u41135_img.selectedDisabled {
}
#u41135.selectedDisabled {
}
#u41135_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:353px;
  word-wrap:break-word;
  text-transform:none;
}
#u41135_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u41136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u41136 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:428px;
  width:80px;
  height:16px;
  display:flex;
}
#u41136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u41137_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u41137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41137 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:419px;
  width:200px;
  height:34px;
  display:flex;
}
#u41137 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41137_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41137.disabled {
}
.u41137_input_option {
}
#u41138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:232px;
}
#u41138 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:397px;
  width:531px;
  height:232px;
  display:flex;
}
#u41138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41139 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:419px;
  width:300px;
  height:45px;
  display:flex;
}
#u41139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:67px;
}
#u41140 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:625px;
  width:420px;
  height:67px;
  display:flex;
}
#u41140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E9FFF;
}
#u41141 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:798px;
  width:85px;
  height:38px;
  display:flex;
  color:#1E9FFF;
}
#u41141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41142 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:1071px;
  width:140px;
  height:16px;
  display:flex;
}
#u41142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
