body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2053px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1697px;
  height:959px;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1697px;
  height:959px;
  display:flex;
}
#u5421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:320px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:1857px;
  top:433px;
  width:196px;
  height:320px;
  display:flex;
}
#u5422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1063px;
  width:766px;
  height:15px;
  display:flex;
}
#u5423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1633px;
  height:399px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:194px;
  width:1633px;
  height:399px;
  display:flex;
}
#u5424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:205px;
  width:56px;
  height:16px;
  display:flex;
}
#u5425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5426_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:195px;
  width:184px;
  height:36px;
  display:flex;
}
#u5426 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5426_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5426.disabled {
}
.u5426_input_option {
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:227px;
  width:0px;
  height:0px;
}
#u5427_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:1648px;
  height:10px;
}
#u5427_seg1 {
  border-width:0px;
  position:absolute;
  left:1638px;
  top:-5px;
  width:10px;
  height:211px;
}
#u5427_seg2 {
  border-width:0px;
  position:absolute;
  left:1633px;
  top:191px;
  width:20px;
  height:20px;
}
#u5427_text {
  border-width:0px;
  position:absolute;
  left:874px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1627px;
  height:116px;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:568px;
  width:1627px;
  height:116px;
  display:flex;
}
#u5428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:306px;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:246px;
  width:557px;
  height:306px;
  display:flex;
}
#u5429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:327px;
  width:56px;
  height:16px;
  display:flex;
}
#u5430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:38px;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:314px;
  width:166px;
  height:38px;
  display:flex;
}
#u5431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
